.StoreLogo {
  width: 100px;
  height: 70px;
  margin: 20px;;
}

.Product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px 100px;
}


table {
  width: 100%;
  margin: 20px 0;
}


#ImgProduct {
  width: 100px;
  height: 100px;
  text-align: center;
}
